#input{
    border:black 3px solid;
    width:20%;
    text-align:center;
    font-family:arial;
    padding:20px;
    margin-top:20%;;
    border-radius:20px;

}
#out{
    height:500px;
    margin-left:40%;
    margin-top:-40%;
    font-family:arial;
    
}
