#input{
    border:black 3px solid;
    width:300px;
    height: auto;
    text-align:center;
    font-family:arial;
    padding:20px;
    margin-top:20%;
    border-radius:20px;

}
#out{
    height:500px;
    font-family:arial;
    
}
#json_area{
    height: 100px;
    width: 300px;
    resize: none;
}
