#input{
    border:black 3px solid;
    width:300px;
    height: auto;
    text-align:center;
    font-family:arial;
    padding:20px;
    margin-top:20%;
    border-radius:20px;
}
#out{
    font-family:arial;
    width:400px;
    margin-left:400px;
    margin-top:-210px;   
    border:blue 3px solid;
    border-radius:20px;
    display: none;
}
#jsonArea{
    height: 100px;
    width: 300px;
    resize: none;
    border:red 3px solid;
    border-radius:20px;
}
