@import url(http://allfont.net/allfont.css?fonts=rodchenkoctt);
body{
    background-color: white;
}
header {
    display: flex;
    flex-direction: row;
    background-color: #211654;
    margin-top:-10px;
    height:50px;
    justify-content: space-between;
    padding:15px;
    align-items:center;
}
#logo{
    height: 50px;
}
#user{
    height: 50px;
}
#profile{
    font-family: 'RodchenkoCTT', arial;
    font-size:20pt;
    color:white;
}
#availableBoards{
    font-family: 'RodchenkoCTT', arial;
    font-size:20pt;
    background-color: #32227f;
    margin-top:10px;
    width:300px;
    padding:20px;
    margin-left:-10px;
    text-align:center;
}
#name_avlbl{
    width:300px;
    margin-left:-20px;
    color:white;
    padding:10px;
}
#boardList{
    display: flex;
    flex-direction: row;
    margin-top:-97px;
    overflow-x: scroll;
    background-color: #432da9;
    margin-left:350px;
    height:800px;
}
#availableBoardsMobile{
    display: none;
}


@media (max-width:1280px){
    header {
        padding:10px;
    }
    #logo{
        height: 30px;
    }
    #user{
        height: 30px;
    }
    #availableBoards{
        font-size:18pt;
        width:200px;
        padding:20px;
        margin-left:-10px;
    }
    #profile{
        font-size:14pt;
    }
    #name_avlbl{
        width:200px;
        padding:5px;
    }
    #boardList{
        margin-top:-85px;
        margin-left:250px;
        height:650px;
        flex-wrap: wrap;
    }
    
    
}
@media (max-width:768px){
    #availableBoardsMobile{
        display: block;
        background-color: #017163;
        height:50px;
        margin-top:5px;
    }
    #availableBoards{
        display: none;
    }
    #boardList{
        margin-top:5px;
        margin-left:0px;
    }
}
