#result
{
    width: 400px;
    background-color:rgb(194, 216, 228);
    height: 900px;
    font-size: 16pt;
    border: 1px solid;
    border-radius: 5px;
    padding-left:50px;
    margin:0 auto;
}
#result li
{
    list-style-type: none;
}
#result>div{
margin-bottom: 50px;
margin-top: 50px;
}
.greenCheck, .redCheck {
    display: inline;
    margin: 5px;
    border-radius: 5px;
}
.greenCheck {
    background-color: #58e958;
}
.redCheck {
    background-color: #e95858;
}
#brd1
{
    width: 220px;
    height: 50px;
    background: rgb(162, 226, 162);
    border: 1px solid gray;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
    text-align: center;
}