@font-face {
   font-family: 'RodchenkoCTT';
   src:url('https://nomail.com.ua/files/woff/4f92ce49d3e9bb369d836662431a8194.woff') format('woff');
}
@font-face {
   font-family: 'RodchenkoCond-Regular';
   src: local('RodchenkoCond-Regular'), url('https://nomail.com.ua/files/woff/3fdc414356e9bb7ef65ea320bc57d981.woff') format('woff');
}
@font-face {
   font-family: 'RodchenkoCTTLight';
   src:url('https://nomail.com.ua/files/woff/efcf91d9f8deb54d264661bbd7d1aa89.woff') format('woff');
}
* {
   padding: 0px;
   margin: 0px;
}
.main {
   background-color: white;
}
.main__upper {
   display: flex;
   flex-direction: row;
   background-color: #211654;
   height:50px;
   justify-content: space-between;
   padding:15px;
   align-items:center;
}
button {
   font-family: 'RodchenkoCond-Regular', arial;
   font-size: 12pt;
}
.main__downer_boardList_desks {
   margin: 10px;
   padding: 10px;
   font-family: 'RodchenkoCTT', arial;
   font-size: 18pt;
   background-color: white;
   border: none;
   border-radius: 8px;
   list-style-type: none;
}
.main__downer_boardList_desks_tasks {
  padding: 10px;
  font-family: 'RodchenkoCond-Regular';
}
.main__upper_brand_logo {
   height: 50px;
}
.main__upper_profile_user {
   height: 50px;
}
.main__upper_profile {
   font-family: 'RodchenkoCTT', arial;
   font-size:20pt;
   color:white;
   height:75px;
}
.main__upper_profile:hover {
   background-color: #432da9;
}
.main__upper_boards_avlbl {
   font-family: 'RodchenkoCTT', arial;
   font-size:20pt;
   background-color: #32227f;
   padding:20px;
   text-align:center;
   color:white;
}
.main__downer_boardList {
   display:flex;
   flex-direction: row;
   margin-top: 10px;
   overflow-x: scroll;
   background-color: #432da9;
   min-height: 800px;
}
.main__underUpper_boardsMobile {
   display: none;
}
.main__downer_boardList_greenCheck, .main__downer_boardList_redCheck {
   display: inline-block;
   margin: 5px;
   height: 20px;
   width: 20px;
}
@media (max-width:1280px) {
   .main__upper {
       padding:10px;
   }
   .main__upper_brand_logo {
       height: 30px;
   }
   .main__upper_profile_user {
       height: 30px;
   }
   .main__upper_boards {
       font-size:18pt;
   }
   .main__upper_profile {
       font-size:14pt;
       height:70px;
   }
   .main__downer_boardList {
       height: auto;
       flex-wrap: wrap;
   }
}
@media (max-width:768px) {
   .main__underUpper_boardsMobile {
       display: block;
       background-color: #32227f;
       height:50px;
       margin-top:5px;
   }
   .main__upper_boards {
       display: none;
   }
   .main__downer_boardList {
       margin-top:25px;
   }
}


